{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>挂号记录</title>
  <link rel="stylesheet" href="{% static 'css/patient.css' %}">
</head>
<body>

  <h1>挂号记录</h1>


  <!-- 患者挂号记录表格 -->
  <table>
    <thead>
      <tr>
        <th>医生姓名</th>
        <th>挂号时间</th>
        <th>挂号时段</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% for registration in registrations %}
      <tr>
        <td>{{ registration.doctor.name }}</td>
        <td>{{ registration.resgitration_time }}</td>
        <td>{{ registration.peirod }}</td>
        <td>{{ registration.status }}</td>
        {% if registration.status == 'registered' %}
        <td><a href="{% url 'cancel_registration' registration.id %}">取消预约</a></td>
        {%endif%}
      </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html>
