{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>医生登录 - 患者预约记录</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/doctor/registrations.css'%}">
</head>

<body>
    <header>
        <h5>医生界面</h5> 
    </header>
    <!-- 菜单栏和页面内容容器 -->
    <div class="menu-container">
        <!-- 菜单栏 -->
        <div class="sidenav"> 
            <a href="/doctor/home">首页</a>
            <a href="#" class="active">患者预约记录</a>         
        </div>

    <div class="container">
        <h2>患者预约记录</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">患者姓名</th>
                    <th scope="col">预约时间</th>
                    <th scope="col">预约时段</th> 
                    <th scope="col">状态</th> 
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for registration in registrations %}
                <tr>
                    <td>{{ registration.patient.name }}</td>
                    <td>{{ registration.registration_time|date:"Y 年 m 月 d 日"}}</td>
                    <td>{{ registration.get_period_display }}</td>
                    <td>{{ registration.get_status_display }}</td>
                    <td>
                        <div class="action-buttons">
                            {% if registration.status == 0 %}
                                <button class="btn btn-able" onclick="acceptAppointment(this, {{ registration.id}})">接诊</button>
                            {% else %}
                                <button class="btn btn-disable">接诊</button>
                            {% endif %}

                            {% if registration.status == 2 %}
                                <button class="btn btn-able" onclick="fillCase(this, {{ registration.id}})">填写病例</button>
                            {% else %}
                                <button class="btn btn-disable">填写病例</button>
                            {% endif %}

                            {% if registration.status == 2 %}
                                <button class="btn btn-able" onclick="endVisit(this, {{ registration.id}})">结束就诊</button>
                            {% else %}
                                <button class="btn btn-disable">结束就诊</button>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if registrations.has_previous %}
                    <a href="?page=1">&laquo; 首页</a>
                    <a href="?page={{ registrations.previous_page_number }}">上一页</a>
                {% else %}
                <a>&laquo; 首页</a>
                <a>上一页</a>
                {% endif %}
        
                <span class="current">
                    第 {{ registrations.number }} / {{ registrations.paginator.num_pages }} 页
                </span>
        
                {% if registrations.has_next %}
                    <a href="?page={{ registrations.next_page_number }}">下一页</a>
                    <a href="?page={{ registrations.paginator.num_pages }}">尾页 &raquo;</a>
                {% else %}
                <a>下一页</a>
                <a>尾页 &raquo;</a>                    
                {% endif %}
            </span>
        </div>
    </div>
    

    <script>
        function acceptAppointment(btn, registrationID) {
            alert('接诊成功！');
            window.location.href = '/doctor/accept/'+registrationID;
        }

        function fillCase(btn, registrationID) {
            window.location.href = '/doctor/medical_record/'+registrationID;
        }

        function endVisit(btn, registrationID) {
            alert('就诊结束！');
            window.location.href = '/doctor/finish/'+registrationID;
        }
    </script>
</body>

</html>

