body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a5bdd4;
    overflow: hidden;
}
form {
display: flex;
flex-direction: row; /* 水平排列 */
justify-content: flex-end; 
margin-bottom: 10px;
margin-top: 20px;
}
.container {
    margin-left: 280px;
      height: 93vh; /* 设置容器的初始高度为视口的高度 */
      max-height: 93vh;
      overflow-y: auto; /* 添加滚动条，只在内容溢出时显示 */
      max-width: 140vh;
    position: relative;
    min-height: 90vh;
    background-color: #fff; /* 白色容器背景 */
    border-radius: 8px; /* 圆角边框 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    flex-grow: 1;
    margin-right: 70px; 

  }
  
.menu-container {
    flex-grow: 1; /* 让菜单栏和内容容器平分剩余空间 */
    align-items: flex-start;

}
/* 添加左侧菜单栏样式 */
.sidenav {    
width: 200px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
bottom:0;
background-color: #0c1e35;
padding-top: 20px;
box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
margin-top: 0px; /* 调整上边距，将菜单栏下移 */
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 18px;
color: #fff;
display: block;
margin-left: 10px;
margin-bottom: 10px;
}
.sidenav a.active {
color: #0c1e35;
background-color: #fff;
}
.sidenav a:hover {
color: #0c1e35;
background-color: #fff;
}
th {
text-align: center;
vertical-align: middle; /* 垂直居中 */
}
.table {
table-layout: fixed;
vertical-align: middle; /* 垂直居中 */

}
/* 设置表头的样式 */
.table thead {
position: sticky;
top: 0; /* 保持在顶部 */
background-color: #f8f9fa; /* 背景色 */
z-index: 1; /* 确保在内容之上 */

}

.table th {
background-color: #f8f9fa; /* 背景色 */
position: sticky;
top: 0; /* 保持在顶部 */
z-index: 2; /* 确保在内容之上 */
width: 100px; /* 固定宽度 */
text-overflow: ellipsis; /* 显示省略号 */
vertical-align: middle; /* 垂直居中 */
}

/* 将表项居中对齐 */
.table td {
text-align: center;
vertical-align: middle; /* 垂直居中 */
font-size: 18px;
}

/* 居中预约按钮 */
.table button {
margin: 0 auto;
display: block;
}
/* 示例按钮样式 */
.btn-primary {
background-color: #a5bdd4; /* 与网页背景颜色相同 */
border-color: #f8f9fa; /* 与网页背景颜色相同 */
margin: 0 auto; /* 设置左右外边距为 auto，使其水平居中 */
display: block; /* 让按钮变成块级元素，以使设置左右外边距有效 */
color: #333;
text-decoration: underline;
margin-left: 10px;

}

.btn-primary:hover {
background-color: #112434; /* 鼠标悬停时的背景颜色 */
border-color: #112434; /* 鼠标悬停时的边框颜色 */
}
.pagination-container {
position: absolute;
bottom: 10px;
right: 10px;
    }

.pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.step-links {
  display: flex;
  align-items: center;
  white-space: nowrap;
  line-height: 1;
}

.step-links a {
  text-decoration: none;
  padding: 8px 10px;
  border: 2px solid #a5bdd4;
  border-radius: 6px;
  color: #333;
  transition: background-color 0.3s;
  display: inline-block; /* 让链接元素显示为行内块级元素 */
  margin-right: 5px; /* 调整链接之间的右边距 */
}

.step-links a:hover {
  background-color: #a5bdd4;
  color: #fff;
}

.current {
  padding: 8px 12px;
  background-color: #a5bdd4;
  color: #fff;
  border: 2px solid #a5bdd4;
  border-radius: 6px;
  margin: 0 5px;
  
}
h5 {
  font-family: 'Arial', sans-serif;
  color: #f0f0f0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: left;
}