<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>病历详情</title>

<link rel="stylesheet" href="/hospital/static/css/bootstrap/bootstrap.min.css"/>
<link rel="stylesheet" href="/hospital/static/css/patient/registrations.css"/>

<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static 'css/patient/registrations.css'%}">
  
</head>
<body>
    <h1>病例详情</h1>
    <script>
        function goBack() {  
            window.history.back();
        }
    </script>
    <a href="#" class="return-link" onclick="goBack()">返回上一页</a>
    <table >
        <thead>
          <tr>
            <th>症状</th>
            <th>诊断结果</th>
            <th>治疗方案</th>
            <th>预约信息</th>
          </tr>
        </thead>
        <tbody>
          {% for MR in MedicalRecord %}
          <tr>
            <td>{{ MR.symtom }}</td>
            <td>{{ MR.diagnosis }}</td>
            <td>{{ MR.solution }}</td>
            <td>{{ MR.registration }}</td>         
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</body>
</html>
