{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>register</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'css/bootstrap/font-awesome.min.css'%}"/>
        <link rel="stylesheet" href="{% static 'css/patient/register.css'%}">

        <link rel="stylesheet" href="/hospital/static/css/bootstrap/bootstrap.min.css"/>
        <link rel="stylesheet" href="/hospital/static/css/bootstrap/font-awesome.min.css"/>
        <link rel="stylesheet" href="/hospital/static/css/patient/register.css"/>

      
    </head>

<body>
    <!-- 菜单栏和页面内容容器 -->
    <div class="menu-container">
        <!-- 菜单栏 -->
        <div class="sidenav">
            <a href="/patient/home" >首页</a>
            <a href="#" class="active">预约</a>
            <a href="/patient/personnel">医生介绍</a>
            <a href="/patient/registrations">挂号记录</a>
            <a href="/patient/personal">个人界面</a>
        </div>
        
        <div class="container">
            <form  method="get" action="/patient/register/">
                <label for="name" style=" font-weight: bold;">医生姓名：</label>
                <input type="text" id="name" name="name" value="{{ name_query }}" style="margin-right: 10px;">
                
                <label for="department" style=" font-weight: bold;">科室：</label>
                <select id="department" name="department">
                    <option value="" {% if not dept_query %}selected{% endif %} style="color: #999;">选择科室</option>
                    {% for department in departments %}
                        <option value="{{ department.id }}" {% if department.id == dept_query %}selected{% endif %}>
                            {{ department.name }}
                        </option>
                    {% endfor %}
                </select>
                
                
                <button type="submit" class="btn btn-primary">搜索</button>
              </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">医生姓名</th>
                    <th scope="col">科室</th>
                    <th scope="col">操作</th>      
                </tr>
                </thead>
                <script>
                    function redirectToAppointment(doctorID) {
                        // 构建预约界面的URL，你可能需要根据实际情况修改路径
                        var appointmentURL = '/patient/register/appoint/' + encodeURIComponent(doctorID);          
                        // 进行页面重定向
                        window.location.href = appointmentURL;
                    }
                    </script>
                <tbody>
                {% for doctor in doctors %}
                <tr>
                    <td>{{ doctor.name }}</td>
                    <td>{{ doctor.dept.name }}</td>
                    <td>
                    <!-- 预约按钮，点击后调用 showAppointmentModal 函数 -->
                    <button class="btn btn-primary" style="background-color: #a5bdd4;" onclick="redirectToAppointment('{{ doctor.id }}')">预约</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            
            <div class="pagination">
                <span class="step-links">
                    {% if doctors.has_previous %}
                        <a href="?page=1">&laquo; 首页</a>
                        <a href="?page={{ doctors.previous_page_number }}">上一页</a>
                    {% else %}
                    <a>&laquo; 首页</a>
                    <a>上一页</a>
                    {% endif %}
            
                    <span class="current">
                        第 {{ doctors.number }} / {{ doctors.paginator.num_pages }} 页
                    </span>
            
                    {% if doctors.has_next %}
                        <a href="?page={{ doctors.next_page_number }}">下一页</a>
                        <a href="?page={{ doctors.paginator.num_pages }}">尾页 &raquo;</a>
                    {% else %}
                    <a>下一页</a>
                    <a>尾页 &raquo;</a>                    
                    {% endif %}
                </span>
            </div>
        </body>
        
    </div>
    </div>  
        
</body>
</html>